* {
   margin: 0;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Consolas, "Courier New", monospace;
}
.App {
   display: grid;
   place-items: center;
   height: 100vh;
   background-color: #dadbd3;
}

.Main {
   display: flex;
   background-color: #ededed;
   margin-top: -50px;
   height: 90vh;
   width:90vw;
   box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}