.chat {
      display: flex;
      flex-direction: column;
      flex: 0.65;
   }

.chat-header {
   padding: 20px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid lightgray;
}
.ch-info {
   flex: 1;
   padding-left: 20px;
}
.ch-info > h3 {
   margin-bottom: 3px;
   font-weight: 500;
}

.ch-info > p {
   color: gray;
}

.chat-body {
   flex: 1;
   background-image: url(./img/bg.jpeg);
   background-repeat: repeat;
   background-position: center;
   padding: 30px;
   overflow: scroll;
}
.chat-message {
   position: relative;
   font-size: 16px;
   padding: 10px;
   width: fit-content;
   border-radius: 10px;
   background-color: #ffff;
   margin-bottom: 30px;
}
.chat-heure {
   margin-left: 10px;
   font-size: xx-small;
}
.chat-name {
   position: absolute;
   top: -15px;
   font-weight: 800;
   font-size: xx-small;
}
.chat-message-recu {
   margin-left: auto;
   background-color: #dcf8c6;
}
.chat-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 62px;
   border-top: 1px solid lightgray;
}

.chat-footer > form {
   flex: 1;
   display: flex;
}
.chat-footer > form > input {
   flex: 1;
   border-radius: 30px;
   padding: 10px;
   border: none;
}
.chat-footer > form > button {
   display: none;
}
.chat-footer > .MuiSvgIcon-root {
   padding: 10px;
   color: gray;
}