.sidebar {
   display: flex;
   flex-direction: column;
   flex: 0.35;
}
.s-header {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   border-right: 1p solid lightgray;
}
.s-header-right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 10vw;
}
.s-header-right > .MuiSvgIcon-root {
   margin-right: 2vw;
   font-size: 24px !important;
}
.s-search {
   display: flex;
   align-items: center;
   background-color: #f6f6f6;
   height: 39px;
   padding: 10px;
}
.s-search-container {
   display: flex;
   align-items: center;
   background-color: #fff;
   width: 100%;
   height: 35px;
   border-radius: 20px;
}
.s-search-container > .MuiSvgIcon-root {
   color: gray;
   padding: 10px;
}

.s-search-container > input {
   border: none;
   outline-width: none;
   margin-left: 10px;
}

.sidebar-chat {
   flex: 1;
   background-color: white;
   overflow: scroll;
}