.sidebar-chat {
   display: flex;
   padding: 20px;
   cursor: pointer;
   border-bottom: 1px solid #f6f6f6;
}
.sidebar-chat:hover {
   background-color: #ebebeb;
}
.sc-info > h2 {
   font-size: 16px;
   margin-bottom: 8px;
}
.sc-info {
   margin-left: 15px;
   
}